html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.ws-example {
    background-color: #fff;
    margin-top: 25px;
    margin-bottom: 25px;
}

.ws-preview {
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #f8f8f8;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.ws-preview2 {
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #f8f8f8;
    -webkit-transition: width .2s ease-in-out;
    transition: width .2s ease-in-out;
}

.ws-heading-anchor {
    color: #000;
    /*float: left;
    margin-left: -32px;*/
}

.ws-example .ws-example-heading {
    padding: var(--pf-global--spacer--md);
    border-bottom: var(--pf-global--BorderWidth--sm) solid #f8f8f8;
}

.ws-preview .pf-l-bullseye {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-bullseye > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-flex > div {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}
.ws-preview .pf-l-flex {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}

.ws-preview .pf-l-flex__item {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}

.ws-preview .pf-m-justify-content-flex-start {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}

.ws-preview .pf-l-gallery > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-level > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-level {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-split > div {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-split {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-stack {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-stack__item {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-grid {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-l-grid__item {
    padding: 1rem;
    border-width: 2px;
    border-style: dashed;
}

.ws-preview .pf-m-justify-content-flex-end {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}
.ws-preview .pf-m-justify-content-space-between {
    border-style: dashed;
    border-width: 2px;
    padding: 1rem;
}

@media (min-width: 768px) {
    .pf-c-page__header-brand-toggle {
        display: none;
    }
}