@using Microsoft.AspNetCore.Components

<div class="pf-l-bullseye">
    <div class="pf-l-bullseye__item">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
