@inherits  Blazorc.PatternFly.Example.Components.Metadata.MetadataComponent

<h1><a href="https://www.patternfly.org/v4/documentation/react/components/@ComponentNameSlug" target="_blank">@ComponentName</a></h1>

<br />

<h2>Metadata</h2>

<br />

<p><a href="https://www.patternfly.org/v4/documentation/react/components/@ComponentNameSlug" target="_blank">Visit official PatternFly documentation</a></p>

<br />