@inherits  Blazorc.PatternFly.Example.Components.Example.ExampleComponent

<h4 id="@Slug" class="ws-linked-heading">
    <a href="#@Slug" class="anchor"></a>
    @Title
</h4>

<div class="example ws-preview">
    @ChildContent
</div>