@inherits Blazorc.PatternFly.Components.Navigation.NavigationItemComponent


<li class="pf-c-nav__item">
    <a class="pf-c-nav__link @GetIsCurrentClass()" aria-current="page" onclick=@(()=>OnItemClick())>
        @if (Content != null)
        {
            @Content
        }
        else
        {
            @Title
        }
    </a>
</li>