@inherits Blazorc.PatternFly.Components.Navigation.NavigationItemComponent

<li class="pf-c-nav__item">
    <a class="@(IsCurrent? NavigationItemCurrentClass : NavigationItemNormalClass)" aria-current="page" onclick=@(()=>OnItemClick())>
        @if (Content != null)
        {
            @Content
        }
        else
        {
            @Title
        }
    </a>
</li>