@inherits Blazorc.PatternFly.Components.Dropdown.DropdownToggleCheckboxComponent

<label class="@Class"
       for="@Id">
    <input id="Id"
           type="checkbox"
           aria-invalid="@IsInvalid">
</label>