@inherits Blazorc.PatternFly.Components.Dropdown.DropdownToggleComponent

@using Blazorc.PatternFly.Components.Icon

<span class="pf-c-dropdown__toggle-text">@Text</span>
<DynamicIcon Icon="@Icon" Class="pf-c-dropdown__toggle-icon" />