@inherits Blazorc.PatternFly.Components.Dropdown.DropdownComponent

<div class="pf-c-dropdown @Class">
    <ToggleContainer ref="toggleContainer"
                     Id="@ToggleId"
                     Toggled="@OnToggled">
        @Toggle
    </ToggleContainer>

    @ChildContent

    @if (Items != null)
    {
        <ul aria-labelledby="@ToggleId" class="pf-c-dropdown__menu" role="menu">
            @Items
        </ul>
    }
</div>

@functions
{
    private ToggleContainer toggleContainer;

    private void OnToggled(object sender, EventArgs e)
    {
        IsOpen = toggleContainer.IsOpen;
    }
}

