@inherits Blazorc.PatternFly.Components.Dropdown.ToggleContainerComponent

<button id="@Id" class="@ButtonClass" type="button" aria-expanded="@IsOpen" aria-haspopup="true" onclick="@(() => OnClick())">
    @if (IsSplitButton)
    {

    }
    else
    {
        @ChildContent
    }
</button>

@functions
{
    private void OnClick()
    {
        IsOpen = !IsOpen;

        var handler = Toggled;
        if (handler != null)
        {
            handler(this, EventArgs.Empty);
        }
    }
}