@inherits Blazorc.PatternFly.Components.Dropdown.ToggleContainerComponent

<button id="@Id" class="pf-c-dropdown__toggle" type="button" aria-expanded="false" aria-haspopup="true" onclick="@(() => OnClick())">
    @if (IsSplitButton)
    {

    }
    else
    {
        <DropdownToggle>
            @ChildContent
        </DropdownToggle>
    }
</button>

@functions
{
    private void OnClick()
    {
        Console.WriteLine("CONTAINER: Toggle IsOpen");

        IsOpen = !IsOpen;

        var handler = Toggled;
        if (handler != null)
        {
            handler(this, EventArgs.Empty);
        }
    }
}