@inherits Blazorc.PatternFly.Components.Dropdown.ToggleContainerComponent

<button id="@Id" class="pf-c-dropdown__toggle" type="button" aria-expanded="false" aria-haspopup="true">
    @if (IsSplitButton)
    {

    }
    else
    {
        <DropdownToggle>
            @ChildContent
        </DropdownToggle>
    }
</button>