@using Blorc.Dom.Injectors
@using Blorc.Components
@using Blorc.PatternFly.Components.Page
@using Blorc.PatternFly.Components.Button


@inherits BlorcLayoutComponentBase

<Page>
    <LogoContent>
        Blorc.PatternFly.Example
    </LogoContent>
    <ToolbarContent>
        <Button Component="a" Variant="ButtonVariant.Primary" Href="https://github.com/wildgums/Blorc.patternfly">
            GitHub
        </Button>
    </ToolbarContent>
    <SidebarContent>
        <NavMenu />
    </SidebarContent>
    <MainContent>
        @Body
    </MainContent>
</Page>

@code {
    protected override async Task OnInitializedAsync()
    {
        DocumentService.InjectHead(new Css("/patternfly/patternfly.css"));
        DocumentService.InjectHead(new Css("/css/site.css"));
    }
}