@using Blorc.Dom.Injectors
@using Blorc.Services
@using Blorc.PatternFly.Components.Page
@using Blorc.PatternFly.Components.Button


@inherits LayoutComponentBase

<Page>
    <LogoContent>
        Blorc.PatternFly.Example
    </LogoContent>
    <ToolbarContent>
        <Button Variant="ButtonVariant.Link" Href="https://github.com/wildgums/Blorc.patternfly">
            About
        </Button>
    </ToolbarContent>
    <SidebarContent>
        <NavMenu />
    </SidebarContent>
    <MainContent>
        @Body
    </MainContent>
</Page>

@code
{
    [Inject]
    public IDocumentService DocumentService { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        DocumentService.InjectHead(new Css("/patternfly/patternfly.css"));
    }
}