@page "/components/alert-group"

@using Blorc.PatternFly.Components.Alert
@using Blorc.PatternFly.Components.Button
@using Blorc.PatternFly.Components.AlertGroup

<Metadata ComponentName="AlertGroup" />

@inherits AlertGroupDemoComponent;

<section class="ws-section ws-live-demo">
    <Example Title="Alert Group types">
        <Button Variant="ButtonVariant.Primary" OnClick="@ShowInfoAlert">
            Show Info Alert
        </Button>
        <br />
        <br />
        <Button Variant="ButtonVariant.Primary" OnClick="@ShowSuccessAlert">
            Show Success Alert
        </Button>
        <br />
        <br />
        <Button Variant="ButtonVariant.Primary" OnClick="@ShowDangerAlert">
            Show Danger Alert
        </Button>

    </Example>
</section>


