@page "/components/avatar"

@using Blorc.PatternFly.Components.Avatar

<Metadata ComponentName="Avatar" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple avatar">
        <Avatar Source="/examples/avatar.svg" Alt="Avatar" />
    </Example>
</section>

@functions {

}

