@page "/components/badge"

@using Blorc.PatternFly.Components.Badge

<Metadata ComponentName="Badge" />

<section class="ws-section ws-live-demo">
    <Example Title="Badge (read)">
        <Badge IsRead="true">7</Badge>
        <Badge IsRead="true">24</Badge>
        <Badge IsRead="true">240</Badge>
        <Badge IsRead="true">999+</Badge>
    </Example>

    <Example Title="Badge (unread)">
        <Badge IsRead="false">7</Badge>
        <Badge IsRead="false">24</Badge>
        <Badge IsRead="false">240</Badge>
        <Badge IsRead="false">999+</Badge>
    </Example>
</section>

@functions {
    
}

