@page "/components/data-list"

<Metadata ComponentName="Data list" />

<Todo ComponentName="Data list" />

<table class="pf-c-table pf-m-grid-xl pf-m-sticky-header" role="grid" aria-label="This is a table with checkboxes" id="page-layout-table-simple-table">
    <thead>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="check-all" aria-label="Select all rows" />
            </td>
            <th role="columnheader" scope="col">Repositories</th>
            <th role="columnheader" scope="col">Branches</th>
            <th role="columnheader" scope="col">Pull requests</th>
            <th role="columnheader" scope="col">Workspaces</th>
            <th role="columnheader" scope="col">Last commit</th>
            <td role="cell"></td>
            <td role="cell"></td>
        </tr>
    </thead>
    <tbody role="rowgroup">
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow1" aria-labelledby="page-layout-table-simple-table-node1" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node1">Node 1</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    10
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    25
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    5
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-1-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow2" aria-labelledby="page-layout-table-simple-table-node2" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node2">Node 2</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    8
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    30
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    2
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-2-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-2-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow3" aria-labelledby="page-layout-table-simple-table-node3" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node3">Node 3</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    12
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    48
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    13
                </span>
            </td>
            <td role="cell" data-label="Last commit">30 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-3-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-3-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow4" aria-labelledby="page-layout-table-simple-table-node4" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node4">Node 4</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    3
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    8
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    20
                </span>
            </td>
            <td role="cell" data-label="Last commit">8 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-4-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-4-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr role="row">
            <td class="pf-c-table__check" role="cell">
                <input type="checkbox" name="checkrow5" aria-labelledby="page-layout-table-simple-table-node5" />
            </td>
            <th role="columnheader" data-label="Repository name">
                <div>
                    <div id="page-layout-table-simple-table-node5">Node 5</div>
                    <a href="#">siemur/test-space</a>
                </div>
            </th>
            <td role="cell" data-label="Branches">
                <span>
                    <i class="fas fa-code-branch"></i>
                    34
                </span>
            </td>
            <td role="cell" data-label="Pull requests">
                <span>
                    <i class="fas fa-code"></i>
                    21
                </span>
            </td>
            <td role="cell" data-label="Workspaces">
                <span>
                    <i class="fas fa-cube"></i>
                    26
                </span>
            </td>
            <td role="cell" data-label="Last commit">2 days ago</td>
            <td role="cell" data-label="Action">
                <a href="#">Action link</a>
            </td>
            <td class="pf-c-table__action" role="cell">
                <div class="pf-c-dropdown">
                    <button class="pf-c-dropdown__toggle pf-m-plain" type="button" id="page-layout-table-simple-table-dropdown-kebab-right-aligned-5-button" aria-expanded="false" aria-label="Actions">
                        <i class="fas fa-ellipsis-v" aria-hidden="true"></i>
                    </button>
                    <ul class="pf-c-dropdown__menu pf-m-align-right" aria-labelledby="page-layout-table-simple-table-dropdown-kebab-right-aligned-5-button" hidden>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button">Action</button>
                        </li>
                        <li>
                            <a class="pf-c-dropdown__menu-item pf-m-disabled" href="#" aria-disabled="true" tabindex="-1">Disabled link</a>
                        </li>
                        <li>
                            <button class="pf-c-dropdown__menu-item" type="button" disabled>Disabled action</button>
                        </li>
                        <li class="pf-c-dropdown__separator" role="separator"></li>
                        <li>
                            <a class="pf-c-dropdown__menu-item" href="#">Separated link</a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
                <div class="pf-c-toolbar" id="page-layout-table-simple-toolbar-bottom">
                    <div class="pf-c-pagination pf-m-footer" aria-label="Element pagination">
                        <div class="pf-c-options-menu">
                            <div class="pf-c-options-menu__toggle pf-m-text pf-m-plain">
                                <span class="pf-c-options-menu__toggle-text">
                                    <b>1 - 10</b>of
                                    <b>37</b>
                                </span>
                                <button class="pf-c-options-menu__toggle-button" id="page-layout-table-simple-toolbar-bottom-pagination-options-menu-text-toggle" aria-haspopup="listbox" aria-expanded="false" aria-label="Items per page">
                                    <i class="fas fa-caret-down" aria-hidden="true"></i>
                                </button>
                            </div>
                            <ul class="pf-c-options-menu__menu" aria-labelledby="page-layout-table-simple-toolbar-bottom-pagination-options-menu-text-toggle" hidden>
                                <li>
                                    <button class="pf-c-options-menu__menu-item" type="button">
                                        5
                                        <span class="pf-c-pagination__menu-text">per page</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="pf-c-options-menu__menu-item" type="button">
                                        10
                                        <span class="pf-c-pagination__menu-text">per page</span>
                                        <i class="fas fa-check pf-c-options-menu__menu-item-icon" aria-hidden="true"></i>
                                    </button>
                                </li>
                                <li>
                                    <button class="pf-c-options-menu__menu-item" type="button">
                                        20
                                        <span class="pf-c-pagination__menu-text">per page</span>
                                    </button>
                                </li>
                            </ul>
                        </div>
                        <nav class="pf-c-pagination__nav" aria-label="Pagination">
                            <button class="pf-c-button pf-m-plain pf-m-disabled" type="button" aria-label="Go to first page" aria-disabled="true">
                                <i class="fas fa-angle-double-left" aria-hidden="true"></i>
                            </button>
                            <button class="pf-c-button pf-m-plain pf-m-disabled" type="button" aria-label="Go to previous page" aria-disabled="true">
                                <i class="fas fa-angle-left" aria-hidden="true"></i>
                            </button>
                            <div class="pf-c-pagination__nav-page-select" aria-label="Current page 1 of 4">
                                <input class="pf-c-form-control" aria-label="Current page" type="number" min="1" max="4" value="1" />
                                <span aria-hidden="true">of 4</span>
                            </div>
                            <button class="pf-c-button pf-m-plain" type="button" aria-label="Go to next page">
                                <i class="fas fa-angle-right" aria-hidden="true"></i>
                            </button>
                            <button class="pf-c-button pf-m-plain" type="button" aria-label="Go to last page">
                                <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                            </button>
                        </nav>
                    </div>
                </div>

@code {
    
}

