@page "/components/expandable"

@using Blorc.PatternFly.Components.Expandable

<Metadata ComponentName="Expandable" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple expandable">
        <Expandable @ref="expandable"
                    ToggleText="Show more"
                    Toggled="@OnToggled">
            This content is visible only when the component is expanded.
        </Expandable>
    </Example>
</section>

@code {
    private Expandable expandable;

    private void OnToggled(object sender, EventArgs e)
    {
        UpdateText();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        UpdateText();
    }

    private void UpdateText()
    {
#pragma warning disable BL0005
        expandable.ToggleText = expandable.IsExpanded ? "Show less" : "Show more";
#pragma warning restore BL0005
    }
}

