@page "/components/icon"

@using System.Linq
@using System.Runtime.CompilerServices
@using Blorc.PatternFly.Components.Icon

<Metadata ComponentName="Icon" />

<section class="ws-section ws-live-demo">
    @CustomRender
</section>

@functions {

    private RenderFragment CustomRender;

    private RenderFragment CreateComponent() => builder =>
    {
        builder.OpenElement(0, "table");

        var iconTypes = (from type in typeof(IconComponentBase).Assembly.GetTypes()
                         where type.Name.EndsWith("Icon") && type.GetCustomAttributes(typeof(CompilerGeneratedAttribute), true).Length > 0
                         orderby type.Name
                         select type).ToList();

        foreach (var iconType in iconTypes)
        {
            builder.OpenElement(1, "tr");

            builder.OpenElement(2, "td");
            builder.OpenComponent(3, iconType);
            builder.CloseComponent();
            builder.CloseElement();

            builder.OpenElement(4, "td");
            builder.OpenElement(5, "span");
            builder.AddContent(6, iconType.Name);
            builder.CloseElement();
            builder.CloseElement();

            builder.CloseElement();
        }

        builder.CloseElement();
    };

    protected override void OnInit()
    {
        base.OnInit();

        CustomRender = CreateComponent();
    }

}

