@page "/components/label"

@using Blorc.PatternFly.Components.Label

<Metadata ComponentName="Label" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple label">
        <Label>Default Label</Label>
        <Label IsCompact="true">Compact Label</Label>
    </Example>
</section>

@functions {

}

