@page "/components/list"

@using Blorc.PatternFly.Components.List

<Metadata ComponentName="List" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple label">
        <List>
            <ListItem>First</ListItem>
            <ListItem>Second</ListItem>
            <ListItem>Third</ListItem>
        </List>
    </Example>

    <Example Title="Inline list">
        <List Variant="ListVariant.Inline">
            <ListItem>First</ListItem>
            <ListItem>Second</ListItem>
            <ListItem>Third</ListItem>
        </List>
    </Example>

    <Example Title="Grid list">
        <List Variant="ListVariant.Grid">
            <ListItem>First</ListItem>
            <ListItem>Second</ListItem>
            <ListItem>Third</ListItem>
            <ListItem>Fourth</ListItem>
            <ListItem>Fifth</ListItem>
            <ListItem>Sixth</ListItem>
        </List>
    </Example>
</section>
