@page "/components/modal"
@using Blorc.PatternFly.Components.Modal
@using Blorc.PatternFly.Components.Button


<Metadata ComponentName="Modal" />

<Todo ComponentName="Modal" >
    <TodoList>
        - Size customization via style
        - PleaseWait doesn't update the progress properly.
    </TodoList>
</Todo>

<section class="ws-section ws-live-demo">
    <Example Title="Simple modal">
        <Modal ShowCloseButton="true" @ref="simpleModal" >
            <Header>
                Modal Header
            </Header>
            <Body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
            </Body>
            <Footer>
                <Button Variant="ButtonVariant.Secondary" OnClick=@((s,e) => simpleModal.Close())>Cancel</Button>
                <Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => simpleModal.Close())>Confirm</Button>
            </Footer>
        </Modal>
        <Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => simpleModal.Show())>Show Modal</Button>
    </Example>

    <Example Title="Modal (small)">
        <Modal ShowCloseButton="true" @ref="smallModal" Size="ModalSize.Small">
            <Header>
                Modal Header
            </Header>
            <Body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
            </Body>
            <Footer>
                <Button Variant="ButtonVariant.Secondary" OnClick=@((s,e) => smallModal.Close())>Cancel</Button>
                <Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => smallModal.Close())>Confirm</Button>
            </Footer>
        </Modal>
        <Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => smallModal.Show())>Show Small Modal</Button>
    </Example>
    
    <Example Title="Modal (large)">
        <Modal ShowCloseButton="true" @ref="largeModal" Size="ModalSize.Large">
            <Header>
                Modal Header
            </Header>
            <Body>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
        pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
        est laborum.
            </Body>
            <Footer>
                <Button Variant="ButtonVariant.Secondary" OnClick=@((s,e) => largeModal.Close())>Cancel</Button>
                <Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => largeModal.Close())>Confirm</Button>
            </Footer>
        </Modal>
        <Button Variant="ButtonVariant.Primary" OnClick=@((s,e) => largeModal.Show())>Show Small Modal</Button>
    </Example> 
    
    <Example Title="Execute Async Task">
        <PleaseWaitModal @ref="pleaseWaitModal" 
                         Size="ModalSize.Small" 
                         Action=@(ctx => DoSomething(ctx))>
            <Header>
                Doing something...
            </Header>
        </PleaseWaitModal>
        <Button Variant="ButtonVariant.Primary" OnClick=@(async (s,e) => await pleaseWaitModal.ExecuteAsync())>Show Please Wait</Button>
    </Example>

    <Example Title="Execute Async Task (Progress)">
        <PleaseWaitModal @ref="pleaseWaitModalWithProgress" 
                         Size="ModalSize.Small" 
                         Action=@(ctx => DoSomething(ctx)) 
                         ShowProgress="true" >
            <Header>
                Doing something...
            </Header>
        </PleaseWaitModal>

        <Button Variant="ButtonVariant.Primary" OnClick=@(async (s,e) => await pleaseWaitModalWithProgress.ExecuteAsync())>Show Please Wait</Button>
    </Example>
</section>

@code {
    private Modal simpleModal;

    private Modal smallModal;

    private Modal largeModal;

    private PleaseWaitModal pleaseWaitModal;

    private PleaseWaitModal pleaseWaitModalWithProgress;

    private async Task DoSomething(ExecutionContext ctx)
    {
        int total = 1000000;
        int percent = 0;
        for (int i = 0; i < total; i++)
        {
            int value = System.Convert.ToInt32(1.0d * i / total * 100);
            if(value > percent)
            {
                percent = value;
                ctx.Progress.Report(value);
            }
        }
    }
}