@page "/components/pagination"

@using Blorc.PatternFly.Components.Pagination

<Metadata ComponentName="Pagination" />

<Todo ComponentName="Pagination" />

<section class="ws-section ws-live-demo">
    <Example Title="Compact">
        <Pagination IsCompact="true" ItemsCount="100" ItemsPerPage="20" Page="0" OnStateChanged=@((PaginationEventArgs e) => Console.WriteLine(e.Offset + "-" + e.Limit)) />
    </Example>
</section>
