@page "/components/select"

@using System.Runtime.Serialization.Formatters.Binary
@using System.Text.RegularExpressions
@using Blorc.PatternFly.Components.Select


@inherits SelectDemoComponent

<Metadata ComponentName="Select"/>

<section class="ws-section ws-live-demo">
    <Example Title="Single select input">
        <div>
            <span id="title-id" hidden>
                Title
            </span>
            <Select Variant="@SelectVariant.Single"
                    Label="Select Input"
                    AriaLabelledBy="title-id" PlaceholderText="Choose...">
                <Items>
                    <SelectOption Key="1" Value="Mr"/>
                    <SelectOption Key="2" Value="Miss"/>
                    <SelectOption Key="3" Value="Mrs" IsDisabled="true"/>
                    <SelectOption Key="4" Value="Ms"/>
                    <SelectOption Key="5" Value="Dr"/>
                    <SelectOption Key="6" Value="Other"/>
                </Items>
            </Select>
        </div>
    </Example>

    <Example Title="Checkbox select input">
        <div>
            <span id="checkbox-select-id" hidden>
                Title
            </span>
            <Select Variant="@SelectVariant.Checkbox"
                    Label="Select Input"
                    IsExpanded="false"
                    PlaceholderText="Filter by status"
                    AriaLabelledBy="checkbox-select-id">
                <Items>
                    <CheckboxSelectOption Key="0" Value="Active"/>
                    <CheckboxSelectOption Key="1" Value="Cancelled"/>
                    <CheckboxSelectOption Key="2" Value="Paused"/>
                    <CheckboxSelectOption Key="3" Value="Warning"/>
                    <CheckboxSelectOption Key="4" Value="Restarted"/>
                </Items>
            </Select>
        </div>
    </Example>

    <Example Title="Grouped checkbox select input">
        <div>
            <span id="grouped-checkbox-select-id" hidden>
                Grouped Checkbox Title
            </span>
            <Select Variant="SelectVariant.Checkbox"
                    Label="Grouped Checkbox Select Input"
                    IsExpanded="false"
                    PlaceholderText="Filter by status"
                    AriaLabelledBy="grouped-checkbox-select-id"
                    IsGrouped="true">
                <Items>
                    <CheckboxSelectGroup Label="Status" Key="group1">
                        <CheckboxSelectOption Key="0" value="Running"/>
                        <CheckboxSelectOption Key="1" value="Stopped"/>
                        <CheckboxSelectOption Key="2" value="Down"/>
                        <CheckboxSelectOption Key="3" value="Degraded"/>
                        <CheckboxSelectOption Key="4" value="Needs Maintenence"/>
                    </CheckboxSelectGroup>
                    <CheckboxSelectGroup Label="Vendor Names" Key="group2">
                        <CheckboxSelectOption Key="5" Value="Dell"/>
                        <CheckboxSelectOption Key="6" Value="Samsung" IsDisabled="true"/>
                        <CheckboxSelectOption Key="7" Value="Hewlett-Packard"/>
                    </CheckboxSelectGroup>
                </Items>
            </Select>
        </div>
    </Example>

    <Example Title="Typeahead select input">
        <div>
            <span id="typeahead-select-id" hidden>
                Select a state
            </span>
            <Select Variant="SelectVariant.Typeahead"
                    Label="Select a state"
                    IsExpanded="false"
                    AriaLabelledBy="typeahead-select-id"
                    PlaceholderText="Select a state">
                <Items>
                    <SelectOption Key="0" Value="Alabama"/>
                    <SelectOption Key="1" Value="Florida"/>
                    <SelectOption Key="2" Value="New Jersey"/>
                    <SelectOption Key="3" Value="New Mexico"/>
                    <SelectOption Key="4" Value="New York"/>
                    <SelectOption Key="5" Value="North Carolina"/>
                </Items>
            </Select>
        </div>
    </Example>

    <Example Title="Typeahead select input (Custom Match Expression)">
        <div>
            <span id="typeahead-select-id" hidden>
                Select a state
            </span>
            <Select Variant="SelectVariant.Typeahead"
                    Label="Select a state"
                    IsExpanded="false"
                    AriaLabelledBy="typeahead-select-id"
                    PlaceholderText="Select a state" TypeaheadMatchExpression=@((string filter, string value) => CustomMatch(filter, value))>
                <Items>
                    <SelectOption Key="0" Value="Alabama"/>
                    <SelectOption Key="1" Value="Florida"/>
                    <SelectOption Key="2" Value="New Jersey"/>
                    <SelectOption Key="3" Value="New Mexico"/>
                    <SelectOption Key="4" Value="New York"/>
                    <SelectOption Key="5" Value="North Carolina"/>
                </Items>
            </Select>
        </div>
    </Example>

    <Example Title="Multiple typeahead select input">
        <div>
            <span id="multi-typeahead-select-id" hidden>
                Select a state
            </span>
            <Select Variant="SelectVariant.TypeaheadMulti"
                    Label="Select a state"
                    IsExpanded="false"
                    AriaLabelledBy="multi-typeahead-select-id"
                    PlaceholderText="Select a state">
                <Items>
                    <SelectOption Key="0" Value="Alabama"/>
                    <SelectOption Key="1" Value="Florida"/>
                    <SelectOption Key="2" Value="New Jersey"/>
                    <SelectOption Key="3" Value="New Mexico"/>
                    <SelectOption Key="4" Value="New York"/>
                    <SelectOption Key="5" Value="North Carolina"/>
                </Items>
            </Select>
        </div>
    </Example>

    <Example Title="Checkbox select input binding">
        <div>
            <span id="checkbox-select-id" hidden>
                Title
            </span>
            <Select Variant="@SelectVariant.Checkbox"
                    Label="Select Input"
                    IsExpanded="false"
                    PlaceholderText="Filter by status"
                    AriaLabelledBy="checkbox-select-id"
                    @bind-SelectedItems="SelectedItems">
                <Items>
                    <CheckboxSelectOption Key="0" Value="Active"/>
                    <CheckboxSelectOption Key="1" Value="Cancelled"/>
                    <CheckboxSelectOption Key="2" Value="Paused"/>
                    <CheckboxSelectOption Key="3" Value="Warning"/>
                    <CheckboxSelectOption Key="4" Value="Restarted"/>
                </Items>
            </Select>
        </div>
    </Example>
    
    <Example Title="Select input binding (Set SelectedItems)">
        <div>
            <span id="checkbox-select-id" hidden>
                Title
            </span>
            <Select Variant="@SelectVariant.Single"
                    Label="Select Input"
                    IsExpanded="false"
                    PlaceholderText="Filter by status"
                    AriaLabelledBy="checkbox-select-id"
                    @bind-SelectedItems="SelectedItems2">
                <Items>
                    <SelectOption Key="0" Value="Active" />
                    <SelectOption Key="1" Value="Cancelled"/>
                    <SelectOption Key="2" Value="Paused"/>
                    <SelectOption Key="3" Value="Warning"/>
                    <SelectOption Key="4" Value="Restarted"/>
                </Items>
            </Select>
        </div>
    </Example>
</section>