@page "/components/spinner"

@using Blorc.PatternFly.Components.Spinner

<Metadata ComponentName="Spinner" />

<section class="ws-section ws-live-demo">
    <Example Title="Basic">
        <Spinner IsVisible="true"/>
    </Example>
</section>

<br />

<section class="ws-section ws-live-demo">
    <Example Title="Size variations">
        <Spinner IsVisible="true" Size="@SpinnerSize.Small"/>
        <Spinner IsVisible="true" Size="@SpinnerSize.Medium"/>
        <Spinner IsVisible="true" Size="@SpinnerSize.Large"/>
        <Spinner IsVisible="true" Size="@SpinnerSize.XLarge"/>
    </Example>
</section>

