@page "/components/switch"

@using Blorc.PatternFly.Components.Switch

@inherits SwitchDemoComponent

<Metadata ComponentName="Switch" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple switch">
        <Switch Label=@SimpleSwitchLabel @bind-IsChecked=@SimpleSwitchIsChecked @bind-IsChecked:event="OnChange" />
    </Example>

    <Example Title="Simple (no labels)">
        <Switch @ref="noLabelsSwitch"
                IsChecked="true" />
    </Example>

    <Example Title="Simple (disabled)">
        <Switch IsChecked="true"
                IsDisabled="true"
                Label="Message when on" />
        <br />
        <Switch IsChecked="false"
                IsDisabled="true"
                Label="Message when off" />
        <br />
        <Switch IsChecked="true"
                IsDisabled="true" />
        <br />
        <Switch IsChecked="false"
                IsDisabled="true" />
    </Example>
</section>

@code
{
   
    private Switch noLabelsSwitch;
 
}

