@page "/components/text-input"

@using System.Runtime.Serialization.Formatters.Binary
@using Blorc.PatternFly.Components.TextInput
@using Blorc.PatternFly.Components.Text
@using Blorc.PatternFly.Core
@using Microsoft.AspNetCore.Components.Web
@using System.ComponentModel

@inherits Blorc.Components.BlorcComponentBase

<Metadata ComponentName="Text input" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple text input">
        <TextInput Label="Text input example" />
    </Example>

    <Example Title="Text input (disabled)">
        <TextInput Value="Disabled text input example" IsDisabled="true" Label="disabled text input example" />
    </Example>

    <Example Title="Text input (read-only)">
        <TextInput Value="Read only text input example" IsReadOnly="true" Label="readonly text input example" />
    </Example>

    <Example Title="Text input (invalid)">
        <TextInput Value="Invalid text input example" IsValid="false" Label="invalid text input example" />
    </Example>

    <Example Title="Binding Sample">
        <TextInput Label="Text input example" @bind-Value="TextValue" UpdateMode="@UpdateMode.Continuous" />
    </Example>    
</section>

@code
{
    public string TextValue
    {
        get { return GetPropertyValue<string>(nameof(TextValue)); }
        set { SetPropertyValue(nameof(TextValue), value); }
    }

    protected override void OnPropertyChanged(PropertyChangedEventArgs e)
    {
        Console.WriteLine(e.PropertyName + "=" + GetPropertyValue<object>(e.PropertyName));
    }
}
