@page "/components/text-area"

@using Blorc.PatternFly.Components.TextArea

<Metadata ComponentName="Text area" />

<section class="ws-section ws-live-demo">

    <Example Title="Simple text area">
        <TextArea Label="Text area example" />
    </Example>

    <Example Title="Invalid text area">
        <TextArea Label="Invalid text area example" IsValid="false" />
    </Example>

</section>

@functions {

}

