@page "/components/title"

@using Blorc.PatternFly.Components.Title

<Metadata ComponentName="Title" />

<section class="ws-section ws-live-demo">
    <Example Title="Title sizes">
        <Title HeadingLevel="h1" Size="4xl">
            4xl Title
        </Title>
        <Title HeadingLevel="h2" Size="3xl">
            3xl Title
        </Title>
        <Title HeadingLevel="h3" Size="2xl">
            2xl Title
        </Title>
        <Title HeadingLevel="h4" Size="xl">
            xl Title
        </Title>
        <Title HeadingLevel="h5" Size="lg">
            lg Title
        </Title>
        <Title HeadingLevel="h6" Size="md">
            md Title
        </Title>
    </Example>
</section>

@functions {

}

