@page "/layouts/bullseye"

@using Blorc.PatternFly.Layouts.Bullseye

<Metadata ComponentName="Bullseye" ComponentType="layouts"/>

<section class="ws-section ws-live-demo">

    <Example Title="Simple bullseye layout">
        <Bullseye>
            <div>Bullseye ◎ layout</div>
        </Bullseye>
    </Example>
</section>

    @code {

    }

