@page "/layouts/gallery"

@using Blorc.PatternFly.Layouts.Gallery

<Metadata ComponentName="Gallery" ComponentType="layouts"/>

<section class="ws-section ws-live-demo">

    <Example Title="Gallery example">
        <Gallery>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
        </Gallery>
    </Example>    

    <Example Title="Gallery example with gutter">
        <Gallery IsGutter="true">
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
            <GalleryItem>Gallery Item</GalleryItem>
        </Gallery>
    </Example>
</section>

