@page "/layouts/level"

@using Blorc.PatternFly.Layouts.Level

<Metadata ComponentName="Level" ComponentType="layouts"/>

<section class="ws-section ws-live-demo">

    <Example Title="Simple level layout">
        <Level>
            <LevelItem>Level Item</LevelItem>
            <LevelItem>Level Item</LevelItem>
            <LevelItem>Level Item</LevelItem>
        </Level>
    </Example>    

    <Example Title="Level example with gutter">
        <Level IsGutter="true">
            <LevelItem>Level Item</LevelItem>
            <LevelItem>Level Item</LevelItem>
            <LevelItem>Level Item</LevelItem>
        </Level>
    </Example>
</section>
