@inherits Blazorc.PatternFly.Components.ApplicationLauncher.ApplicationLauncherComponent

@using Blazorc.PatternFly.Components.Dropdown

<div class="pf-c-app-launcher">
    <Dropdown IsOpen="@IsOpen"
              IsPlain="@IsPlain"
              Direction="@Direction"
              Position="@Position">
        <Toggle>
            <DropdownToggle Icon="Th" />
        </Toggle>

        <Items>
            @ChildContent
        </Items>
    </Dropdown>
</div>