@inherits  Blorc.PatternFly.Example.Components.Todo.TodoComponent

<p>
    <br />
    <br />
    Component <b>@ComponentName</b> is not @(TodoList is null ? "yet" : "fully") supported. Need this component? There are several ways to help out!
    <br />
    <br />
    <ol>
        <li>Create a PR (pull request) with this component on the <a href="https://github.com/wildgums/blorc.patternfly" target="_blank">official repository</a></li>
        <li>Support us on <a href="https://opencollective.com/wildgums-oss" target="_blank">Open Collective</a></li>
    </ol>

    @if (TodoList != null)
    {
        <br />
        <br />
        <b>Well known unsupported features:</b>
        <br />
        <br />
        <ol>
            @TodoList
        </ol>
    }
</p>