@inherits  Blorc.PatternFly.Example.Components.Example.ExampleComponent

<br /><br />

<h4 id="@Slug" class="ws-linked-heading">
    <a href="#@Slug" class="anchor"></a>
    <b>@Title</b>
</h4>

<br />

<div class="example ws-preview">
    @ChildContent
</div>