@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Button

@inherits BlorcComponentBase

<td data-label="@Label" data-key="@Key" class="@Class">
    <Button Variant=@Variant OnClick=@((s,e)=>Action())>@Value</Button>
</td>
