@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.Select.CheckboxSelectGroupComponent

<div class="pf-c-select__menu-group">
    <div class="pf-c-select__menu-group-title" aria-hidden="true">@Label</div>
    @ChildContent
</div>