@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase

@if (ContainerSelect is not null && ContainerSelect.IsExpanded)
{
    <div class="pf-c-select__menu-group">
        <div class="pf-c-select__menu-group-title" aria-hidden="true">@Label</div>
        @ChildContent
    </div>
}
