@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.Select.CheckboxSelectComponent
<!--
<span class="pf-c-label @Class">@ChildContent</span>
-->
