@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Checkbox

@inherits SelectOption

@if (ContainerSelect is not null && ContainerSelect.IsExpanded && IsVisible)
{
    <label class="pf-c-check pf-c-select__menu-item">
        <Checkbox Label="@Value" IsChecked="@IsSelected" OnChange="@OptionClick" />
    </label>
}