@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.Tabs.TabComponent

<li class="@Class">
    <button class="pf-c-tabs__button"
            id="@UniqueLabelId"
            aria-controls="@UniqueSectionId"
            @onclick="OnClick">
        @Title
    </button>
</li>

@functions
{
    private void OnClick()
    {
        Activate();
    }
}