@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Icon

@inherits Blorc.PatternFly.Components.Tabs.TabsComponent

<div class="@Class">
    <button class="pf-c-tabs__scroll-button" variant="plain" aria-label="@LeftScrollAriaLabel">
        <ChevronLeftIcon />
    </button>

    <ul class="pf-c-tabs__list">
        <CascadingValue Value=this>
            @ChildContent
        </CascadingValue>
    </ul>

    <button class="pf-c-tabs__scroll-button" variant="plain" aria-label="@RightScrollAriaLabel">
        <ChevronRightIcon />
    </button>
</div>

<section class="pf-c-tab-content"
         id="@ActiveTab?.UniqueSectionId"
         aria-labelledby="@ActiveTab?.UniqueLabelId"
         role="tabpanel"
         tabindex="@ActiveTab?.Id">
    @ActiveTab?.ChildContent
</section>

@functions
{

}
