@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase


<div>
    <CascadingValue Value=@this>
        @foreach (var renderFragment in RenderFragments)
        {
            <div>
                @renderFragment
            </div>
        }
    </CascadingValue>
</div>
