@inherits LayoutComponentBase

@using Blazorc.Dom.Injectors
@using Blazorc.Services

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/wildgums/blazorc.patternfly" target="_blank" class="ml-md-auto">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@functions
{
    [Inject]
    public IDocumentService DocumentService { get; set; }

    protected override void OnInit()
    {
        base.OnInit();

        DocumentService.InjectHead(new Css("/patternfly/patternfly.css"));
    }

}