@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.InputGroup.InputGroupComponent

<div class="pf-c-input-group">
    @ChildContent
</div>