@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase

<nav aria-label="@Label" class="pf-c-breadcrumb">
    <ol class="pf-c-breadcrumb__list">
        @ChildContent
    </ol>
</nav>