@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits PageComponent

<CascadingValue Value=@this>
    <div class="pf-c-page">
        <!--TODO: Review why set z-index is required (modal components are not properly working) -->
        @if (SidebarContent != null || LogoContent != null || ToolbarContent != null)
        {
            <header role="banner" class="pf-c-page__header">
                @if (SidebarContent != null || LogoContent != null)
                {
                    <div class="pf-c-page__header-brand">
                        @if (SidebarContent != null)
                        {
                            <div class="pf-c-page__header-brand-toggle">
                                <button id="nav-toggle" aria-controls="page-sidebar" aria-label="Global navigation" class="pf-c-button pf-m-plain" type="button" @onclick="OnClickNavbarToogle">
                                    <svg style="vertical-align: -0.125em" fill="currentColor" height="1em" width="1em" viewBox="0 0 448 512" aria-hidden="true" role="img">
                                        <path d="M16 132h416c8.837 0 16-7.163 16-16V76c0-8.837-7.163-16-16-16H16C7.163 60 0 67.163 0 76v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16zm0 160h416c8.837 0 16-7.163 16-16v-40c0-8.837-7.163-16-16-16H16c-8.837 0-16 7.163-16 16v40c0 8.837 7.163 16 16 16z" transform=""></path>
                                    </svg>
                                </button>
                            </div>
                        }

                        @LogoContent
                    </div>
                }

                @if (ToolbarContent != null)
                {
                    <div class="pf-c-page__header-tools">
                        @ToolbarContent
                    </div>
                }
            </header>
        }

        @if (SidebarContent != null)
        {
            <Sidebar @ref="Sidebar">
                @SidebarContent
            </Sidebar>
        }

        <main role="main" class="pf-c-page__main" tabindex="-1" style="z-index: unset">
            <section class="pf-c-page__main-section" >
                @MainContent
            </section>
            @* <section class="pf-c-page__main-section pf-m-no-padding pf-m-light">Section with no padding</section> *@
            @* <section class="pf-c-page__main-section pf-m-no-padding-mobile">Section with no padding on mobile only</section> *@
        </main>
    </div>

    @* <section class="pf-c-page__main-section ws-org-pfsite-l-footer-dark"> *@
    @*     <div class="pf-l-grid pf-u-py-xl-on-sm pf-u-py-0-on-md pf-u-align-items-center"> *@
    @*         <div class="pf-l-grid__item pf-m-2-col-on-md pf-m-offset-1-col-on-md"> *@
    @*             <a href="https://www.redhat.com" target="top" aria-label="Visit Red Hat.com" data-pf-content="true" class=""> *@
    @*                 <img src="/v4/static/RHLogo-3b87f5c11c90f8b03ece83155da51c43.png" alt="Red Hat logo" width="145px" height="613px"> *@
    @*             </a> *@
    @*         </div> *@
    @*         <div class="pf-l-grid__item pf-m-4-col-on-md pf-m-3-col-on-lg pf-m-2-col-on-xl"> *@
    @*             <span class="ws-org-pfsite-site-copyright">Copyright © 2019 Red Hat, Inc.</span> *@
    @*         </div> *@
    @*         <div class="pf-l-grid__item pf-m-4-col-on-md pf-m-5-col-on-lg pf-u-ml-xl-on-xl"> *@
    @*             <a href="https://www.redhat.com/en/about/privacy-policy" target="top" aria-label="Privacy statement" data-pf-content="true" class="">Privacy statement</a><a href="https://www.redhat.com/en/about/terms-use" target="top" aria-label="Terms of use" data-pf-content="true" class="">Terms of use</a><a href="https://www.redhat.com/en/about/all-policies-guidelines" target="top" aria-label="All policies and guidelines" data-pf-content="true" class="">All policies and guidelines</a> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@
</CascadingValue>