@using Blorc.Attributes
@using Blorc.PatternFly.Components.Container
@using Blorc.PatternFly.Components.Icon
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase

<CascadingValue Value=@this>

    @if (IncludeTargetContainer)
    {
        <TargetContainer @ref="_targetContainer" />
    }

    <div class="pf-c-page">
        <!--TODO: Review why set z-index is required (modal components are not properly working) -->
        @if (SidebarContent != null || LogoContent != null || ToolbarContent != null)
        {
            <header role="banner" class="pf-c-page__header">
                @if (SidebarContent != null || LogoContent != null)
                {
                    <div class="pf-c-page__header-brand">
                        @if (SidebarContent != null)
                        {
                            <div class="pf-c-page__header-brand-toggle">
                                <button id="nav-toggle" aria-controls="page-sidebar" aria-label="Global navigation" class="pf-c-button pf-m-plain" type="button" @onclick="OnClickNavbarToogle">
                                    <BarsIcon/>
                                </button>
                            </div>
                        }

                        @LogoContent
                    </div>
                }

                @if (ToolbarContent != null)
                {
                    <div class="pf-c-page__header-tools">
                        @ToolbarContent
                    </div>
                }
            </header>
        }

        @if (SidebarContent != null)
        {
            <Sidebar @ref="Sidebar">
                @SidebarContent
            </Sidebar>
        }

        <main role="main" class="pf-c-page__main" tabindex="-1">
            <!--WORKAROUND: padding-bottom: 100% -->
            <section class="pf-c-page__main-section" style="padding-bottom: 100%">
                @MainContent
            </section>
        </main>
    </div>
</CascadingValue>

@code
{
    [InjectComponentService(nameof(TargetContainerService))]
    private TargetContainer _targetContainer;
}
