@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits SidebarComponent

<!--TODO: Review why set z-index is required (modal components are not properly working) -->
<div id="page-sidebar" class=@Class style="z-index: 0">
    <div class="pf-c-page__sidebar-body" >
        @ChildContent                  
    </div>
</div>