@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits SidebarComponent

<div id="page-sidebar" class=@Class>
    <div class="pf-c-page__sidebar-body">
        @ChildContent                  
    </div>
</div>