@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase

<CascadingValue Value=this>
    <nav class="pf-c-nav">
        <ul class="pf-c-nav__list">
            @Items
        </ul>
    </nav>
</CascadingValue>
