@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase

<li class="pf-c-nav__item">
    <a class=@Class aria-current="page" @onclick="OnItemClick">
        @if (ChildContent is not null)
        {
            @ChildContent
        }
        else
        {
            @Title
        }
    </a>
</li>