@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly

@inherits UniqueComponentBase

<CascadingValue Value=this>
    <div class="@Class">
        @Toggle

        <div style="@OpenState">
            @ChildContent

            @if (Items != null)
            {
                if (IsGrouped)
                {
                    @Items
                }
                else
                {
                    <ul aria-labelledby="@ToggleId" class="@PopupClass" role="menu">
                        @Items
                    </ul>
                }
            }
        </div>
    </div>
</CascadingValue>