@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits BlorcComponentBase

<label class="@LabelClass"
       for="@Id">
    <input id="Id"
           class="@CheckboxClass"
           type="checkbox"
           aria-invalid="@IsInvalid">
</label>