@inherits Blorc.PatternFly.Components.Dropdown.DropdownToggleCheckboxComponent

<label class="@LabelClass"
       for="@Id">
    <input id="Id"
           class="@CheckboxClass"
           type="checkbox"
           aria-invalid="@IsInvalid">
</label>