@using Microsoft.AspNetCore.Components

<div class="pf-l-level__item" @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
}