@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.EmptyState.EmptyStateBodyComponent

<p class="pf-c-empty-state__body">
    @ChildContent
</p>