@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web

@inherits Blorc.PatternFly.Components.EmptyState.EmptyStateSecondaryActionsComponent

<div class="pf-c-empty-state__secondary">
    @ChildContent
</div>