@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Dropdown

@inherits BlorcComponentBase

<div class="pf-c-app-launcher">
    <Dropdown IsOpen="@IsOpen"
              IsPlain="@IsPlain"
              Direction="@Direction"
              Position="@Position">
        <Toggle>
            <DropdownToggle Icon="Th" />
        </Toggle>

        <Items>
            @ChildContent
        </Items>
    </Dropdown>
</div>