@page "/components/alert"

@using Blazorc.PatternFly.Example.Components.Metadata
@using Blazorc.PatternFly.Example.Components.Todo

<Metadata ComponentName="Alert" />

<Todo ComponentName="Alert" />

<div class="pf-c-alert pf-m-success" aria-label="Success alert">
    <div class="pf-c-alert__icon">
        <i class="fas fa-check-circle" aria-hidden="true"></i>
    </div>
    <h4 class="pf-c-alert__title">
        <span class="pf-screen-reader">Success alert:</span>
        Success Alert Title
    </h4>
    <div class="pf-c-alert__description">
        <p>Success alert description. <a href="#">This is a link.</a>
        </p>
    </div>
    <div class="pf-c-alert__action">
        <button class="pf-c-button pf-m-plain" aria-label="Close Success Alert: Success Alert Title">
            <i class="fas fa-times" aria-hidden="true"></i></button>
    </div>
</div>
<br/>
<div class="pf-c-alert pf-m-success" aria-label="Success alert">
    <div class="pf-c-alert__icon">
        <i class="fas fa-check-circle" aria-hidden="true"></i>
    </div>
    <h4 class="pf-c-alert__title">
        <span class="pf-screen-reader"
        >
            Success alert:</span>
        Success Alert Title
    </h4>
    <div class="pf-c-alert__action">
        <button class="pf-c-button pf-m-plain" aria-label="Close Success Alert: Success Alert Title">
            <i class="fas fa-times" aria-hidden="true"></i></button>
    </div>
</div>
<br />
<div class="pf-c-alert pf-m-success" aria-label="Success alert">
    <div class="pf-c-alert__icon">
        <i class="fas fa-check-circle" aria-hidden="true"></i>
    </div>
    <h4 class="pf-c-alert__title">
        <span class="pf-screen-reader"
        >
            Success alert:</span>
        Success Alert Title
    </h4>
    <div class="pf-c-alert__action">
        <button class="pf-c-button pf-m-link">
            Action Button
        </button>
    </div>
</div>
<br />
<div class="pf-c-alert pf-m-success" aria-label="Success alert">
    <div class="pf-c-alert__icon">
        <i class="fas fa-check-circle" aria-hidden="true"></i>
    </div>
    <h4 class="pf-c-alert__title">
        <span class="pf-screen-reader">
            Success alert:</span>
        Success Alert Title
    </h4>
</div>

@functions {
    
}

