@page "/components/brand"

@using Blazorc.PatternFly.Components.Brand

<Metadata ComponentName="Brand" />

<section class="ws-section ws-live-demo">
    <Example Title="Simple brand">
        <Brand Source="/examples/brand.svg" Alt="Brand" />
    </Example>
</section>

@functions {

}

