@using System.Drawing
@using System.Threading.Tasks
@using Blorc.Attributes
@using Blorc.PatternFly.Components.Container
@using Blorc.PatternFly.Components.Icon
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Web
@using Blorc.PatternFly.Components.Modal
@using Blorc.PatternFly.Components.Progress

@inherits Blorc.PatternFly.Components.Modal.PleaseWaitModalComponent

<SourceContainer @ref="_pleaseWaitSourceContainer">
    <Modal Size="@Size">
        <Header>
            @if (!string.IsNullOrWhiteSpace(HeaderText))
            {
                @HeaderText
            }
            else if (Header != null)
            {
                @Header
            }
            else
            {
                @DefaultPleaseWaitHeader
            }
        </Header>
        <Body>
        @if (Body != null)
        {
            @Body
        }

        @if (ShowProgress)
        {
            <Progress Size="ProgressSize.Large" @ref="Progress"/>
        }
        </Body>
    </Modal>
</SourceContainer>

@code
{
    [InjectComponentService(nameof(ModalSourceContainerService))]
    private SourceContainer _pleaseWaitSourceContainer;
}
